@charset "UTF-8";

html, body{
    margin: 0;
    height: 100%;
}

body{
    background-color: #136a8a;
}

#page_header{
    position: fixed;
    margin-bottom: auto;
    width: 100%;
    height: 50px;
    background-color: deepskyblue;
    z-index: 999;
    display: inline-block;
}
div#btn{
    width: 50%;
    right: 5px;
    position: fixed;
    top: auto;
    bottom: auto;
    display: grid;
}

.defBtn{
    height: auto;
    width: 100%;
    margin: 1px;
    padding: 2px;
}

form{
    background-color: #ffffff;
    display: inline-block;
    position:absolute;
    padding: 15px;
    border: blue, 2px;
    border-radius: 8px;
    box-shadow: 
        0px 2px 10px rgba(0,0,0,0.2), 
        0px 10px 20px rgba(0,0,0,0.3), 
        0px 30px 60px 1px rgba(0,0,0,0.5);
    
    margin-top: 60px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

@media screen and (orientation: portrait){
    form{
        width: 90%;
        margin-left: 1%;
        margin-right: 1%;
    }
}

label, button{
    font-weight: bold;
}

.frmgroup{
    position: relative;
    width: 100%;
    display: inline-flexbox;
    margin: 5px 0 5px 0;
}

a{
    display:block;
}

input[type="text"]{
    display: inline-flex;
    align-items: flex-end;
    border: none;
    border-bottom: 1px dotted blue;
    width: 100%;
    text-align: justify;
    word-wrap: normal;
    line-break: auto;    
}

#noiDung{
    height: 300px;
    width: 100%;
    border: 1px solid blue;
    border-radius: 10px;
    text-align: justify;
}

.frmCtrlBtn{
    align-items: center;
    height: 5vh;
    width: 45%;
    margin: 10px 0 20px 0;
}